@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  font-family: rubik;
  color: #fff;
}
body {
  background-color: #040104;
}
.my_fixed_width {
    width: 85%;
    max-width: 1200px;
}
.my_fixed_width_2 {
    width: 91%;
    max-width: 900px;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

@media (min-width:720px) {
  .my_fixed_width_2 {
    width: 40%;
  }
}